body {
font-family: Arial, sans-serif;
}



#cabecalho {
font-family: Arial, sans-serif;
}

#nome-personagem {
font-family: Arial, sans-serif;
}

#titulo-personagem {
font-family: Arial, sans-serif;
}



#conteudo-principal {
font-family: Arial, sans-serif;
}



#secao-apresentacao {
font-family: Arial, sans-serif;
}

#bloco-imagem {
font-family: Arial, sans-serif;
}

#imagem-personagem {
font-family: Arial, sans-serif;
}

.legenda {
font-family: Arial, sans-serif;
}

#bloco-descricao {
font-family: Arial, sans-serif;
}



.titulo-secao {
font-family: Arial, sans-serif;
}



.texto-descricao {
font-family: Arial, sans-serif;
}


#secao-atributos {
font-family: Arial, sans-serif;
}

#grade-atributos {
font-family: Arial, sans-serif;
}


.card-atributo {
font-family: Arial, sans-serif;
}

.icone-atributo {
font-family: Arial, sans-serif;
}

.nome-atributo {
font-family: Arial, sans-serif;
}

.valor-atributo {
font-family: Arial, sans-serif;
}



#secao-habilidades {
font-family: Arial, sans-serif;
}

#lista-habilidades {
font-family: Arial, sans-serif;
}


.card-habilidade {
font-family: Arial, sans-serif;
}

.imagem-habilidade {
font-family: Arial, sans-serif;
}

.info-habilidade {
font-family: Arial, sans-serif;
}

.nome-habilidade {
font-family: Arial, sans-serif;
}

.tipo-habilidade {
font-family: Arial, sans-serif;
}

.descricao-habilidade {
font-family: Arial, sans-serif;
}



#secao-curiosidades {
font-family: Arial, sans-serif;
}

#lista-curiosidades {
font-family: Arial, sans-serif;
}

.item-curiosidade {
font-family: Arial, sans-serif;
}


#secao-frases {
font-family: Arial, sans-serif;
}

#frase-personagem {
font-family: Arial, sans-serif;
}

#autor-frase {
font-family: Arial, sans-serif;
}


#rodape {
font-family: Arial, sans-serif;
}

#creditos {
font-family: Arial, sans-serif;
}

#nome-aluno {
font-family: Arial, sans-serif;
}

#ano {
font-family: Arial, sans-serif;
}

